.icon{
     text-decoration: none;
    font-size: 20px;
      /*padding: 10px;*/
      transition: 0.2s ease-in;
      color: black;
      background-color: antiquewhite;
      border-radius: 30px;


}
.socialIcons {
    display: flex;
    position: absolute;
    left: 50px;
    bottom: 20px;
    align-items: center;
    gap: 10px;
}

@media (min-width: 750px) {
    .socialIcons {
        flex-direction: column;
    }


}